openapi: 3.2.0
info:
  title: Digitail Open Species API
  version: v1
  description: Modeled OpenAPI for the Digitail Open API, a documented REST API for the Digitail cloud veterinary practice management platform (PIMS).
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  x-endpoints-modeled: true
servers:
- url: https://developer.digitail.io/api/v1
  description: Digitail Open API v1
security:
- oauth2: []
tags:
- name: Species
paths:
  /species:
    get:
      operationId: listSpecies
      summary: List species
      description: List species reference data. Modeled from the documented Species resource.
      tags:
      - Species
      x-endpoints-modeled: true
      responses:
        '200':
          $ref: '#/components/responses/Paginated'
components:
  responses:
    Paginated:
      description: A paginated list of resources.
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
              meta:
                type: object
                properties:
                  current_page:
                    type: integer
                  per_page:
                    type: integer
                  total:
                    type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization-code grant with PKCE. Bearer access token is long-lived; a refresh token is also returned.
      flows:
        authorizationCode:
          authorizationUrl: https://vet.digitail.io/oauth/authorize
          tokenUrl: https://vet.digitail.io/oauth/token
          refreshUrl: https://vet.digitail.io/oauth/token
          scopes: {}
externalDocs:
  description: Digitail API Documentation
  url: https://documentation.digitail.io/
